.App {
  display: flex;
  height: 100vh;
  width: 100vw;
  overflow-x: auto;
  justify-content: space-between;
  background: #191b22;
}

.col {
  flex: 1 0 15rem;
  background: #313543;
  margin: 10px 5px;
}

.col .header {
  color: white;
}
