.Column {
  flex: 1 0 250px;
  background: var(--swimlane-background);
  margin: 0 3px;
  border-radius: var(--border-radius);
  border: 1px solid #eaeaea;
  border-top: 0;
}

.Column:first-child {
  margin-left: 0;
}

.Column:last-child {
  margin-right: 0;
}

.Column__isOver {
  background: #eaeaea;
}

.Column--header {
  padding: 6px;
  color: var(--swimlane-header-text-color);
  background: var(--swimlane-header-background);
  border-top-left-radius: var(--border-radius);
  border-top-right-radius: var(--border-radius);
  display: flex;
  align-items: center;
  line-height: 1rem;
}

.Column--header--text {
  margin-left: 3px;
  flex: 1;
}

.Column--header--actions {
}

.Column--items {
  padding: 6px;
}
