.Header {
  background: var(--swimlane-header-background);
  padding: 6px;
  border-radius: var(--border-radius);
  margin-bottom: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Header--text {
  margin-left: 5px;
}
